.card-list {
  width: 100%;
  /* flex-wrap: wrap; */
}

.content {
  display: flex;
  /* margin: 1% 10%; */
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.card-1 {
  width: 30%;
  flex-basis: 30%;
}

/* .card-2 {
  width: 30%;
  flex-basis: 50%;
} */

@media (min-width: 800px) {
  .wrap {
    margin-bottom: 3%;
  }
}

.rating {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  color: #eee;
  padding: 20px;
  background-color: #333;
  background-color: rgba(64, 64, 65, 0.5);
  font-size: 1rem;
  z-index: 10;
}
.card {
  /* position: relative; */
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #999;
  overflow: hidden;
  /* z-index: 10; */
  cursor: pointer;
}
.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  transition: all 0.5s ease-in-out;
}
.image:hover {
  transform: rotate(-3deg) scale(1.1);
  -webkit-transform: rotate(-3deg) scale(1.1);
}

.row-desc {
  display: flexbox;
  flex-direction: column;
}

.description {
  display: flexbox;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  color: #eee;
  padding: 10px 20px 0px 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
}

.description p {
  font-size: 12px;
  padding-top: 10px;
  bottom: 0;
  right: 0;
}
